@using PackerTracker.Models;

<h2>@Model.Name</h2>
<p>Packed: @Model.Packed</p>
<p>Purchased: @Model.Purchased</p>
<p>Price: @Model.Price</p>
<p>Weight: @Model.Weight</p>

<a href="/items">Return to your entries</a>